.col-sm-6 { 
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 6px 12px $card-shadow;
    height: 250px;
    max-width: 250px;
}
.col-sm-6.egg-color {
    background-color: $egg-white;
    border: none;
}
.col-sm-6.white-color {
    background-color: $white;
    border: 2px solid $pink;
}
.col-sm-6.pink-color {
    background-color: $pink;
    border: 2px solid $white;
}
.row {
    justify-content: center;
    margin-top: 3em;
}
.container {
    font-family: $font-main;
    text-align: center;
    margin-top: 3em;
}
