/* Fonts */

$font-main: 'Open Sans', sans-serif;
$font-navlinks: 'Archivo Narrow', sans-serif;

$uppercase: uppercase;

/* Colors */

$egg-white: #F4F3EE;
$light-grey: #E5E5E5;
$dark-grey: #8D8D8D;
$pink: #C32C72;
$white: #FFFFFF;
$card-shadow: #cacaca;